
<div class="newproduct p-10">
<div class="new flex justify-between mt-8">
  <h2 class="text-2xl">New Products</h2>
  <div class="arrow flex">
    <mat-icon
      class="group-hover:text-red-500"
      aria-label="Example keyboard_arrow_left icon"
      fontIcon="keyboard_arrow_left "
    ></mat-icon>
    <mat-icon
      class="group-hover:text-red-500"
      aria-label="Example keyboard_arrow_right icon"
      fontIcon="keyboard_arrow_right "
    ></mat-icon>
  </div>
</div>

<div class="imgtext flex mt-8 mb-6">
  <img class="w-16 h-16 mr-4" src="assets/1.png" alt="" />
  <div class="text max-w-[200px] break-words">
    <h3>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</h3>
    <span>$109.95 </span>
  </div>
</div>
<hr class="w-full" />

<div class="imgtext flex mt-8 mb-6">
  <img class="w-16 h-16 mr-4" src="assets/2.png" alt="" />
  <div class="text max-w-[200px] break-words">
    <h3>Mens Casual Premium Slim Fit T-Shirts $22.30</h3>
    <span>$22.30 </span>
  </div>
</div>
<hr class="w-full" />
<div class="imgtext flex mt-8 mb-6">
  <img class="w-16 h-16 mr-4" src="assets/3.png" alt="" />
  <div class="text max-w-[200px] break-words">
    <h3>Mens Cotton Jacket</h3>
    <span>$55.99 </span>
  </div>
</div>
<hr class="w-full" />

</div>
