<h1 class="text-center text-2xl p-7">Trending Products</h1>
<hr />

<mat-tab-group>
  <!-- NEW ARRIVAL -->
  <mat-tab label="NEW ARRIVAL">
    <div class="imgproduct bg-red-100 p-10 pt-20 flex flex-wrap justify-center gap-10"
    >
      <!-- محصول -->
      <div class="product-card relative group w-64 h-80 mb-20">
        <img
          class="w-full h-full object-cover rounded-lg bg-white"
          src="assets/5.png"
          alt=""
        />
        <div
          class="absolute inset-0 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>shopping_cart</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
        <p class="text-yellow-400">★★★★★</p>
        <h4>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</h4>
        <strong>$109.95</strong>
      </div>

      <div class="product-card relative group w-64 h-80">
        <img
          class="w-full h-full object-cover rounded-lg bg-white"
          src="assets/6.png"
          alt=""
        />
        <div
          class="absolute inset-0 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>shopping_cart</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
        <p class="text-yellow-400">★★★★★</p>
        <h4>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</h4>
        <strong>$109.95</strong>
      </div>

      <div class="product-card relative group w-64 h-80">
        <img
          class="w-full h-full object-cover rounded-lg bg-white"
          src="assets/7.png"
          alt=""
        />
        <div
          class="absolute inset-0 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>shopping_cart</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
        <p class="text-yellow-400">★★★★★</p>
        <h4>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</h4>
        <strong>$109.95</strong>
      </div>
      <div class="product-card relative group w-64 h-80">
        <img
          class="w-full h-full object-cover rounded-lg bg-white"
          src="assets/6.png"
          alt=""
        />
        <div
          class="absolute inset-0 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>shopping_cart</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
        <p class="text-yellow-400">★★★★★</p>
        <h4>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</h4>
        <strong>$109.95</strong>
      </div>
      <div class="product-card relative group w-64 h-80 mb-20">
        <img
          class="w-full h-full object-cover rounded-lg bg-white"
          src="assets/5.png"
          alt=""
        />
        <div
          class="absolute inset-0 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>shopping_cart</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
         <p class="text-yellow-400">★★★★★</p>
        <h4>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</h4>
        <strong>$109.95</strong>
      </div>
      <div class="product-card relative group w-64 h-80">
        <img
          class="w-full h-full object-cover rounded-lg bg-white"
          src="assets/5.png"
          alt=""
        />
        <div
          class="absolute inset-0 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>shopping_cart</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
         <p class="text-yellow-400">★★★★★</p>
        <h4>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</h4>
        <strong>$109.95</strong>
      </div>
      <div class="product-card relative group w-64 h-80">
        <img
          class="w-full h-full object-cover rounded-lg bg-white"
          src="assets/8.png"
          alt=""
        />
        <div
          class="absolute inset-0 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>shopping_cart</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
         <p class="text-yellow-400">★★★★★</p>
        <h4>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</h4>
        <strong>$109.95</strong>
      </div>
    </div>
  </mat-tab>

  <!-- ON SALE -->
  <mat-tab label="ON SALE">
    <div
      class="imgproduct bg-red-100 p-10 flex flex-wrap justify-center gap-10"
    >
      <div class="product-card relative group w-64 h-80">
        <img
          class="w-full h-full object-cover rounded-lg bg-white"
          src="assets/3.png"
          alt=""
        />
        <div
          class="absolute inset-0 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>shopping_cart</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
          <p class="text-yellow-400">★★★★★</p>
        <h4>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</h4>
        <strong>$109.95</strong>
        
      </div>

      <div class="product-card relative group w-64 h-80 mb-20">
        <img
          class="w-full h-full object-cover rounded-lg bg-white"
          src="assets/8.png"
          alt=""
        />
        <div
          class="absolute inset-0 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>shopping_cart</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
          <p class="text-yellow-400">★★★★★</p>
        <h4>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</h4>
        <strong>$109.95</strong>
      </div>

      <div class="product-card relative group w-64 h-80">
        <img
          class="w-full h-full object-cover rounded-lg bg-white"
          src="assets/10.png"
          alt=""
        />
        <div
          class="absolute inset-0 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>shopping_cart</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
          <p class="text-yellow-400">★★★★★</p>
        <h4>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</h4>
        <strong>$109.95</strong>
      </div>
    </div>
  </mat-tab>

  <!-- BEST SELLERS -->
  <mat-tab label="BEST SELLERS">
    <div
      class="imgproduct bg-red-100 p-10 flex flex-wrap justify-center gap-10"
    >
      <div class="product-card relative group w-64 h-80 mb-20">
        <img
          class="w-full h-full object-cover rounded-lg bg-white"
          src="assets/1.png"
          alt=""
        />
        <div
          class="absolute inset-0 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>shopping_cart</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
          <p class="text-yellow-400">★★★★★</p>
        <h4>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</h4>
        <strong>$109.95</strong>
      </div>

      <div class="product-card relative group w-64 h-80">
        <img
          class="w-full h-full object-cover rounded-lg bg-white"
          src="assets/3.png"
          alt=""
        />
        <div
          class="absolute inset-0 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>shopping_cart</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
          <p class="text-yellow-400">★★★★★</p>
        <h4>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</h4>
        <strong>$109.95</strong>
      </div>

      <div class="product-card relative group w-64 h-80">
        <img
          class="w-full h-full object-cover rounded-lg bg-white"
          src="assets/8.png"
          alt=""
        />
        <div
          class="absolute inset-0 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>shopping_cart</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
          <p class="text-yellow-400">★★★★★</p>
        <h4>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</h4>
        <strong>$109.95</strong>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
