<div class="logos flex justify-center gap-20">

       <img class="opacity-50 hover:opacity-100"  src="assets/brand1.png "alt="">
      <img  class="opacity-50 hover:opacity-100" src="assets/brand2.png" alt="">
      <img  class="opacity-50 hover:opacity-100" src="assets/brand3.png" alt="">
      <img class="opacity-50 hover:opacity-100"  src="assets/brand4.png" alt="">
      <img class="opacity-50 hover:opacity-100"  src="assets/brand5.png" alt="">

</div>
<img class="py-20 justify-center" src="assets/save.png" alt="">

<div class="blogimg flex justify-center  text-center">
    
    <div class="img-text border border-gray-300 flex flex-col items-center  ">
        <img  src="assets/1.png" alt="">
    
    <h2>men's clothing
</h2>
<p> Your perfect pack for everyday use and walks in the forest. Stash your 
    laptop (up to 15 inches) in the padded sleeve, your </p>
    <button class="bg-red-600 p-3">ViewMore</button>
    </div>
     <div class="img-text border border-gray-300 flex flex-col items-center">
        <img src="assets/2.png" alt="">
    
    <h2>men's clothing
</h2>
<p> Your perfect pack for everyday use and walks in the forest. Stash your 
    laptop (up to 15 inches) in the padded sleeve, your </p>
    <button class="bg-red-600 p-3">ViewMore</button>
    </div>
     <div class="img-text border border-gray-300 flex flex-col items-center">
        <img  src="assets/3.png" alt="">
    
    <h2>men's clothing
</h2>
<p> Your perfect pack for everyday use and walks in the forest. Stash your 
    laptop (up to 15 inches) in the padded sleeve, your </p>
    <button class="bg-red-600 p-3">ViewMore</button>
    </div>
     <div class="img-text border border-gray-300 flex flex-col items-center">
        <img  src="assets/4.png" alt="">
    
    <h2>men's clothing
</h2>
<p> Your perfect pack for everyday use and walks in the forest. Stash your 
    laptop (up to 15 inches) in the padded sleeve, your </p>
    <button class="bg-red-600 p-3">ViewMore</button>
    </div>
</div>