<div class="paypall border border-gray-200 p-4">
  <form class="example-form space-y-6">
    <div class="row1 flex justify-between">
      <h1 class="text-3xl">Produuct</h1>
      <h1 class="text-3xl">Total</h1>
    </div>
    <hr />
    <div class="row1 flex justify-between">
      <h1 class="text-xl">subtotal</h1>
      <h1 class="text-xl text-red-700">$0.00</h1>
    </div>

    <div class="row2 flex justify-between">
      <h1 class="text-xl">shipping</h1>
      <div class="row2 flex justify-between">
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1" class="text-2xl">Shipping</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
     <div class="row3 flex justify-between">
      <h1 class="text-xl"></h1>
      <div class="row2 flex justify-between">
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1" class="text-2xl">Local Pickup</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <hr>
     <div class="row1 flex justify-between">
      <h1 class="text-xl">total</h1>
      <h1 class="text-xl text-red-700">$0.00</h1>
    </div>
    <div class="radio">
 <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1" class="text-2xl">Stripe</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="radio">
 <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1" class="text-2xl">PayPal</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="img">
        <img src="assets/paypal-checkout.png" alt="">
    </div>
    <div class="button flex justify-between">
        <span></span>
        <button class="bg-gray-200 p-3">PlaceOlder</button>
    </div>

        
  </form>
</div>
