

<div class="paypall border border-gray-200 p-4">
  <form
    [formGroup]="paymentForm"
    (ngSubmit)="onSubmit()"
    class="example-form space-y-6"
  >
    <div class="row1 flex justify-between">
      <h1 class="text-3xl">Product</h1>
      <h1 class="text-3xl">Total</h1>
    </div>

    <hr />

    <div class="row1 flex justify-between">
      <h1 class="text-xl">Subtotal</h1>
      <h1 class="text-xl text-red-700">$0.00</h1>
    </div>

    <!-- Shipping -->
    <div class="row2 flex justify-between">
      <h1 class="text-xl">Shipping</h1>

      <mat-radio-group formControlName="shippingMethod">
        <div class="mat">
          <mat-radio-button value="shipping" class="text-2xl">
            Shipping
          </mat-radio-button>
        </div>

        <div class="mat">
          <mat-radio-button value="pickup" class="text-2xl">
            Local Pickup
          </mat-radio-button>
        </div>
      </mat-radio-group>
    </div>

    <mat-error *ngIf="submitted && f['shippingMethod'].invalid">
      لطفاً روش ارسال را انتخاب کنید
    </mat-error>

    <hr />

    <div class="row1 flex justify-between">
      <h1 class="text-xl">Total</h1>
      <h1 class="text-xl text-red-700">$0.00</h1>
    </div>

    <!-- Payment -->
    <div class="radio">
      <mat-radio-group formControlName="paymentMethod">
        <div class="mat">
          <mat-radio-button value="stripe" class="text-2xl">
            Stripe
          </mat-radio-button>
        </div>

        <div class="mat">
          <mat-radio-button value="paypal" class="text-2xl">
            PayPal
          </mat-radio-button>
        </div>
      </mat-radio-group>
    </div>

    <mat-error *ngIf="submitted && f['paymentMethod'].invalid">
      لطفاً روش پرداخت را انتخاب کنید
    </mat-error>

    <div class="img">
      <img src="assets/paypal-checkout.png" alt="" />
    </div>

    <div class="button flex justify-between">
      <span></span>
      <button class="bg-gray-200 p-3" type="submit">
        Place Order
      </button>
    </div>
  </form>
</div>
