
<app-header></app-header>
<div class="producttwo flex flex-col">
   <div class="product  flex m-10  ">
    <div class="sidbar  border border-gray-00 ">
        <div class="category">
        <app-category></app-category>

        </div>

        <div class="freeshaping">
        <app-freeShiping></app-freeShiping>

        </div>
        <div class="new">
            <app-newProduct></app-newProduct>
        </div>
    </div>

    <div class="right">
<div class="imgtext flex justify-center ">
 <div class="img p-10">
     <img [src]="product?.image" alt="" class="w-64">
    </div>

    <div class="feture">
        <app-productBox  *ngIf="product" [product]="product"></app-productBox>

    </div>
</div>
<div class="textapp mt-8">
<app-productText  *ngIf="product" [product]="product"></app-productText>

</div>
    </div>
    
 
</div>

<hr class="w-full">

</div>

<app-relatedProduct></app-relatedProduct>
<app-footer></app-footer>