<div class="servicebox flex justify-center items-center  border-t bordr-b border-gray-200  p-10 ">
  <div class="rowbox flex p-10 border-r border-gray-600">
    <span class="material-symbols-outlined text-6xl hover:text-red-500">
      local_shipping
    </span>
    <div class="text ">
        <h2 class="text-red-700"><strong>free shipping</strong></h2>
        <p class="text-gray-600">free shipping world wide</p>
    </div>
  </div>
   <div class="rowbox flex p-10 border-r border-gray-600">
     <mat-icon class="group-hover:text-red-500" aria-label="Example history_2 icon" fontIcon="history_2  "></mat-icon>

    <div class="text">
        <h2 class="text-red-700"><strong>24 X 7 service</strong></h2>
        <p class="text-gray-600">online service for new customer</p>
    </div>
  </div>
   <div class="rowbox flex p-10">
     <mat-icon class="group-hover:text-red-500 " aria-label="Example volume_up icon" fontIcon="volume_up  "></mat-icon>

    <div class="text">
        <h2 class="text-red-700"><strong>24 X 7 service</strong></h2>
        <p class="text-gray-600">online service for new customer</p>
    </div>
  </div>
</div>
