
<div class="flex justify-center gap-4 text-center select-none bg-gray-200 p-3">

  <div class="w-20 py-3 rounded-xl border-2 border-gray-800">
    <div class="text-3xl font-bold">
      {{ days }}
    </div>
    <div class="text-sm opacity-70 mt-1">
      روز
    </div>
  </div>

  <div class="w-20 py-3 rounded-xl border-2 border-gray-800">
    <div class="text-3xl font-bold">
      {{ format(hours) }}
    </div>
    <div class="text-sm opacity-70 mt-1">
      ساعت
    </div>
  </div>

  <div class="w-20 py-3 rounded-xl border-2 border-gray-800">
    <div class="text-3xl font-bold">
      {{ format(minutes) }}
    </div>
    <div class="text-sm opacity-70 mt-1">
      دقیقه
    </div>
  </div>

  <div class="w-20 py-3 rounded-xl border-2 border-gray-800">
    <div class="text-3xl font-bold">
      {{ format(seconds) }}
    </div>
    <div class="text-sm opacity-70 mt-1">
      ثانیه
    </div>
  </div>

</div>

