
<app-header></app-header>
<div *ngIf="items.length === 0">cart is empty</div>
<div *ngFor="let item of items" class="mb-4 border p-3 rounded">
  <h3>{{item.title}}</h3>
  <p>price: {{item.price}} × count: {{item.quantity}}</p>
  <p>sum: {{item.price * item.quantity}}</p>
  <button (click)="removeItem(item.id)" class="bg-red-500 text-white p-2 rounded">حذف</button>
</div>

<div *ngIf="items.length > 0" class="mt-4">
  <h3>totalprice: {{getTotalPrice()}}</h3>
  <button (click)="clearCart()" class="bg-gray-500 text-white p-2 rounded mt-2">خالی کردن سبد</button>
</div>
<app-footer></app-footer>