<h1 class="text-center text-2xl p-7">SpecialProducts</h1>
<hr>
<div class="special flex  ">
  <div class="colspecial  border border-gray-300 p-10">
    <div class="rowspecial p-10"> <div class="product-card relative group w-64 h-80 mb-20 justify-center items-center" >
        <img
          class="w-full h-full object-cover rounded-lg bg-white"
          src="assets/6.png"
          alt=""
        />
        <div
          class="absolute inset-0 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>shopping_cart</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
       
        <p class="text-yellow-400">★★★★★</p>
        <h4>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</h4>
        <strong>$109.95</strong>
      </div></div>
        <hr>
    <div class="rowspecial p-10"> <div class="product-card relative group w-64 h-80 mb-20 justify-center items-center" >
        <img
          class="w-full h-full object-cover rounded-lg bg-white"
          src="assets/4.png"
          alt=""
        />
        <div
          class="absolute inset-0 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>shopping_cart</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
       
        <p class="text-yellow-400">★★★★★</p>
        <h4>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</h4>
        <strong>$109.95</strong>
      </div></div>
  </div>
  <div class="colspecial border border-gray-300 p-10 mt-0">
     <div class="product-card relative group w-64 h-80 mt-0 mb-20 items-center" >
        <img
          class="w-full h-full object-cover rounded-lg bg-white"
          src="assets/5.png"
          alt=""
        />
        <div
          class="absolute inset-0 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>shopping_cart</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
       
        <p class="text-yellow-400">★★★★★</p>
        <h4>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</h4>
        <strong>$109.95</strong>
      </div> 
      </div>
  <div class="colspecial border border-gray-300 p-10">
    <div class="rowspecial p-10"> <div class="product-card relative group w-64 h-80 mb-20 justify-center items-center" >
        <img
          class="w-full h-full object-cover rounded-lg bg-white"
          src="assets/2.png"
          alt=""
        />
        <div
          class="absolute inset-0 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>shopping_cart</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
       
        <p class="text-yellow-400">★★★★★</p>
        <h4>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</h4>
        <strong>$109.95</strong>
      </div></div>
      <hr>
    <div class="rowspecial p-10"> <div class="product-card relative group w-64 h-80 mb-20 justify-center items-center" >
        <img
          class="w-full h-full object-cover rounded-lg bg-white"
          src="assets/1.png"
          alt=""
        />
        <div
          class="absolute inset-0 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition duration-300"
        >
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>shopping_cart</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>favorite</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            class="bg-white p-2 rounded-full shadow hover:bg-red-500 hover:text-white"
          >
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
       
        <p class="text-yellow-400">★★★★★</p>
        <h4>Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</h4>
        <strong>$109.95</strong>
      </div></div>
  </div>
</div>
