<div  class="footer1 flex justify-center items-center border-t border-b bg-gray-200"
>
  <div class="text p-10 border-r border-gray-900">
    <h2 class="text-3xl">know it all first!</h2>
    <p>Never Miss Anything From Multikart By Signing Up To Our Newsletter.x</p>
  </div>

  <div class="email p-20 flex">
    <div class="form">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>EnterYourEmail</mat-label>
          <input matInput placeholder="ali@gmail.com" />
        </mat-form-field>
      </form>
    </div>
    <div class="button">
      <button matButton class="bg-red-800 p-4 text-gray-100">Subscribe</button>
    </div>
  </div>
</div>

<div class="footer2 p-20 flex justify-center">
  <div class="text2 pr-10">
    <img src="assets/multikart-logo.png" alt="" />
    <p class="w-64 pt-5 text-gray-600">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam,
    </p>
    <div class="social">
      <a href="#" class="fa fa-facebook p-3 hover:text-red-500 h-12 w-12"></a>
      <a href="#" class="fa fa-twitter p-3 hover:text-red-500 h-12 w-12"></a>
      <a href="#" class="fa fa-whatsapp p-3 hover:text-red-500 h-12 w-12"></a>
      <a href="#" class="fa fa-instagram p-3 hover:text-red-500 h-12 w-12"></a>
    </div>
  </div>
  <div class="text2 pr-10">
    <h2 class="text-3xl pb-4">Categories</h2>
    <div class="a">
      <a
        class="text-gray-600 border-b-2 border-transparent hover:border-red-500 transition-colors duration-300 pt-30"
        href=""
        >electronic</a
      >
    </div>
    <div class="a">
      <a
        class="text-gray-600 border-b-2 border-transparent hover:border-red-500 transition-colors duration-300 pt-30"
        href=""
        >jewelery</a
      >
    </div>
    <div class="a">
      <a
        class="text-gray-600 border-b-2 border-transparent hover:border-red-500 transition-colors duration-300 pt-30"
        href=""
        >MensClothing</a
      >
    </div>
    <div class="a">
      <a
        class="text-gray-600 border-b-2 border-transparent hover:border-red-500 transition-colors duration-300 pt-30"
        href=""
        >WomensClothing</a
      >
    </div>
  </div>
  <div class="text2 pr-10">
    <h2 class="text-3xl pb-4">why we choose</h2>
    <div class="a">
      <a
        class="text-gray-600 border-b-2 border-transparent hover:border-red-500 transition-colors duration-300 pt-30"
        href=""
        >shipping & return</a
      >
    </div>
    <div class="a">
      <a
        class="text-gray-600 border-b-2 border-transparent hover:border-red-500 transition-colors duration-300 pt-30"
        href=""
        >secure shopping</a
      >
    </div>
    <div class="a">
      <a
        class="text-gray-600 border-b-2 border-transparent hover:border-red-500 transition-colors duration-300 pt-30"
        href=""
        >gallary</a
      >
    </div>
    <div class="a">
      <a
        class="text-gray-600 border-b-2 border-transparent hover:border-red-500 transition-colors duration-300 pt-30"
        href=""
        >affiliates</a
      >
    </div>
    <div class="a">
      <a
        class="text-gray-600 border-b-2 border-transparent hover:border-red-500 transition-colors duration-300 pt-30"
        href=""
        >contacts</a
      >
    </div>
  </div>
  <div class="text2 pr-10">
    <h2 class="text-3xl pb-4">store information</h2>
    <div class="plogo flex">
      <mat-icon
        class="group-hover:text-red-500"
        aria-label="Example add_location_alt"
        fontIcon="add_location_alt "
      ></mat-icon>
      <div class="p">
        <p
          class="text-gray-600 border-b-2 border-transparent pt-30"
         
        >
          Multikart Demo Store, Demo
        </p>
        <p>Store India 345-659</p>
      </div>
    </div>
    <div class="plogo flex">
      <mat-icon
        class="group-hover:text-red-500"
        aria-label="Example phone_in_talk"
        fontIcon="phone_in_talk "
      ></mat-icon>

      <p
        class="text-gray-600 border-b-2 border-transparent  pt-30"
     
      >
        Call Us: 123-456-7898
      </p>
    </div>
    <div class="plogo flex">
       <mat-icon
        class="group-hover:text-red-500"
        aria-label="Example mail"
        fontIcon="mail "
      ></mat-icon>
      <p
        class="text-gray-600 border-b-2 border-transparent  pt-30"
        
        >Email Us:</p>
    </div>
   
    <div class="plogo flex">
       <mat-icon
        class="group-hover:text-red-500"
        aria-label="Example fax"
        fontIcon="fax "
      ></mat-icon>
      <p
        class="text-gray-600 border-b-2 border-transparent  pt-30"
        href=""
        >Fax: 123456</p >
    </div>
  </div>
</div>
<div class="footer3 flex  bg-gray-300 justify-between">
  <div class="lefttext flex  ">
      <mat-icon
        class="group-hover:text-red-500"
        aria-label="Example copyright"
        fontIcon="copyright "
      ></mat-icon>
    <p class="text-gray-600"> 2023 theme forest powered by pixelstrap</p>
  </div>
  <div class="righttext flex ">
    <img src="assets/american-express.png" alt="">
    <img src="assets/mastercard.png" alt="">
    <img src="assets/discover.png" alt="">
    <img src="assets/visa.png" alt="">
  </div>
</div>


