<div class="footer flex justify-center items-center border-t border-b bg-gray-200">
  <div class="text p-10   border-r  border-gray-900">
    <h2 class="text-3xl">know it all first!</h2>
    <p>Never Miss Anything From Multikart By Signing Up To Our Newsletter.x</p>
  </div>

  <div class="email p-20 flex" >
    <div class="form">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>EnterYourEmail</mat-label>
          <input matInput placeholder="ali@gmail.com"  />
        </mat-form-field>
      </form>
    </div>
<div class="button">
        <button matButton class="bg-red-800 p-4 text-gray-100">Subscribe</button>

</div>
  </div>
</div>
